@{ViewBag.Title = "Edit Gift";}

@model GiftViewModel

<form asp-controller="Gifts" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
    <button class="btn">Update</button>
    <a asp-controller="Gifts" asp-action="Index" class="btn-cancel">Cancel</a>
</form>