@{ViewBag.Title = "Gifts";}

@model List<GiftViewModel>

@{int counter = 0;}
<section class="grid grid-cols-1 sm:grid-cols-3">
@foreach(var groupViewModel in Model) {
    <section class="border-gray-500 border-2 p-6 m-5 rounded-lg">
        @groupViewModel.Title 
        <a asp-action="Edit" asp-route-id=@counter>Edit</a><form asp-action="Delete" asp-route-id=@counter method="post">
        <button onclick="return confirm('You are about to delete, are you sure you want to do this?');"><i class="far fa-trash-alt"></i></button></form>
        @{counter++;}
    </section>
}
</section>
<a asp-action="Create" class="btn">Create</a>