<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secret Santa - @ViewBag.Title</title>
    <!-- Stylesheets -->
    <% for (var filename in htmlWebpackPlugin.files.css) { %>
    <link href="~<%= htmlWebpackPlugin.files.css[filename] %>" rel="stylesheet" />
    <% } %>
    <!-- End Stylesheets -->
</head>
<body>
    <header class="bg-green-600 flex flex-col sm:flex-row justify-between">
        <div class="flex flex-row justify-between">
            <a asp-controller="Home" asp-action="Index" class="inline-block p-4 leading-8 text-4xl text-white">Secret Santa</a>
             <button class="sm:hidden" onclick="toggleMenu()"><i class="fas fa-bars text-2xl align-middle h-full"></i></button>
        </div>
        <nav class="hidden sm:inline-block">
            <ul class="flex">
                <li class="inline-block p-4 leading-8 text-gray-200 hover:text-gray-400"><a asp-controller="Users" asp-action="Index">Users</a></li>
                <li class="inline-block p-4 leading-8 text-gray-200 hover:text-gray-400"><a asp-controller="Groups" asp-action="Index">Groups</a></li>
                <li class="inline-block p-4 leading-8 text-gray-200 hover:text-gray-400"><a asp-controller="Gifts" asp-action="Index">Gifts</a></li>
            </ul>
        </nav>
    </header>
    <div class="m-4">
        @RenderBody()
    </div>

    <!-- Scripts -->
    <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="~<%= htmlWebpackPlugin.files.js[index] %>"></script>
    <% } %>

    <script>
        function toggleMenu() {
            var headerNav = document.getElementById("headerNav");
            if (headerNav) {
                if (headerNav.classList.contains("hidden")) {
                    headerNav.classList.remove("hidden");
                } else {
                    headerNav.classList.add("hidden");
                }
            }
        }
    </script>
    <!-- End Scripts -->

</body>
</html>