@{
    ViewBag.Title = "Groups";
}

@model List<GroupViewModel>

@{int counter = 0;}

@foreach (var Group in Model)
{
    <section>
        @Group.GroupName <a asp-controller="Groups" asp-action="Edit" asp-route-id=@counter>Edit</a>
        <form asp-controller="Groups" asp-action="Delete" method="post" asp-route-id=@counter><button>Delete</button></form>
        @{counter++;}
    </section>
}
<a asp-controller="Groups" asp-action="Create">Create</a>