@{ViewBag.Title = "Edit Group";}

@model GroupViewModel

<form asp-controller="Groups" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
    <button class="btn">Update</button>
    <a asp-controller="Groups" asp-action="Index" class="btn-cancel">Cancel</a>
</form>