@model UserViewModel
<section class="grid grid-cols-1 sm:grid-cols-2">
    <div class="pr-4">
        <label asp-for="FirstName"></label>
        <input type="text" asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input type="text" asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
</section>