@{ViewBag.Title = "Create User";}

@model UserViewModel

<form asp-controller="Users" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button class="btn">Create</button>
    <a asp-controller="Users" asp-action="Index" class="btn-cancel">Cancel</a>
</form>