@{
    ViewBag.Title = "Users";
}

@model List<UserViewModel>

@{int counter = 0;}

@foreach (var user in Model)
{
    <section>
        @user.FirstName @user.LastName <a asp-controller="Users" asp-action="Edit" asp-route-id=@counter>Edit</a>
        <form asp-controller="Users" asp-action="Delete" method="post" asp-route-id=@counter><button>Delete</button></form>
        @{counter++;}
    </section>
}
<a asp-controller="Users" asp-action="Create">Create</a>